# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objetives:**
- Libraries for data science
- Data science tools
- popular languages for data science
- arimethics

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Ruby

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Seaborn

## Table of Data Science Tools

| Data Science Tools |
|--------------------|
|Jupyter Notebook|
| Deepnote |
| R studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author

Gustavo Ruiz